# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
*.log
*.sqlite3
media/
staticfiles/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore