amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
babel==2.18.0
billiard==4.2.4
black==26.3.1
celery==5.6.3
cffi==2.0.0
cfgv==3.5.0
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
coverage==7.13.5
cryptography==48.0.0
distlib==0.4.0
Django==5.1.15
django-cors-headers==4.9.0
django-environ==0.13.0
django-money==3.6.0
django-stubs==6.0.3
django-stubs-ext==6.0.3
djangorestframework==3.17.1
djangorestframework-stubs==3.16.9
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
factory_boy==3.3.3
Faker==40.15.0
filelock==3.29.0
gunicorn==25.3.0
identify==2.6.19
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
librt==0.9.0
mypy==1.20.2
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.9.6
pluggy==1.6.0
pre_commit==4.6.0
prompt_toolkit==3.0.52
psycopg==3.3.3
psycopg-binary==3.3.3
py-moneyed==3.0
pycparser==3.0
Pygments==2.20.0
PyJWT==2.12.1
pytest==9.0.3
pytest-cov==7.1.0
pytest-django==4.12.0
python-dateutil==2.9.0.post0
python-discovery==1.2.2
pytokens==0.4.1
PyYAML==6.0.3
redis==6.4.0
referencing==0.37.0
rpds-py==0.30.0
ruff==0.15.12
six==1.17.0
sqlparse==0.5.5
types-PyYAML==6.0.12.20260408
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
uritemplate==4.2.0
vine==5.1.0
virtualenv==21.3.0
wcwidth==0.6.0
